

    <div class="blank" data-type="file" data-id="{{id}}" data-instrument="{{instrument}}" data-name="{{sortname}}">

      <span class="sprite sprite-{{sprite}}">
        {{#if playable}}
          <span class="icon-play">{{{svg "play"}}}</span>
        {{else if viewableImage}}
          <span class="icon-view">{{{svg "eye"}}}</span>
        {{else if viewableVideo}}
          <span class="icon-view">{{{svg "play"}}}</span>
        {{/if}}
      </span>
      
      
      <span class="basicStockInfo" >
        <span class="file-link entry-link" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover" >
        <input class="blank-input" placeholder="Add Symbol" style="text-transform: uppercase;">
        </span>

       
      </span>


      <span class="mtime" data-timestamp="{{mtime}}">
       
      </span>
      <span class="quantity">
      

      </span>
      

      <span class="orders" > </span>

    </div>

  
