<div class="file-header">
  
</div>
{{#each entries}}
  {{#is type "f"}}
    <div class="data-row {{classes}}" data-type="file" data-id="{{id}}" data-instrument="{{instrument}}" data-name="{{sortname}}">

      <span class="sprite sprite-{{sprite}}">
        {{#if playable}}
          <span class="icon-play">{{{svg "play"}}}</span>
        {{else if viewableImage}}
          <span class="icon-view">{{{svg "eye"}}}</span>
        {{else if viewableVideo}}
          <span class="icon-view">{{{svg "play"}}}</span>
        {{/if}}
      </span>
      
      
      <span class="basicStockInfo" >
        <span class="file-link entry-link" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover" >{{name}}</span>

        <span class="avg-buy-price" data-id={{avg_buy_price}}>{{avg_buy_price}}</span>
        <span class="shares" data-id={{shares}}>{{shares}}</span>
        <span class="buys" data-id={{buys}}>{{buys}}</span>
        <span class="sells" data-id={{sells}}>{{sells}}</span>
      </span>


      <span class="mtime" data-timestamp="{{mtime}}">
          <span class="percents">
          <a href="" class="quantity-button percent-one"><span>{{percentone}}</span></a>
          <a href="" class="quantity-button percent-two"><span>{{percenttwo}}</span></a>
          <a href="" class="quantity-button percent-three"><span>{{percentthree}}</span></a>
          <a href="" class="quantity-button percent-four"><span>{{percentfour}}</span></a>
          <a href="" class="quantity-button percent-five"><span>{{percentfive}}</span></a>
        </span>
      
      
        <input class="price" type="text" placeholder="" >
      </span>
      <span class="quantity">
        <input class="quantity-input" type="text" placeholder="">
        <span class="fractions">
          <a href="" class="quantity-button third"><span><sup>1</sup>&frasl;<sub>3</sub></span></a>
          <a href="" class="quantity-button half"><span><sup>1</sup>&frasl;<sub>2</sub></span></a>
        </span>
        
        <form class="line-buttons">
          <input class="order-type" type="radio" name="type" value="limit" checked="checked"> L
          <input class="order-type" type="radio" name="type" value="stop"> S
          <span class="share-file tip tip-n sell" data-side="sell" aria-label="Share">{{{svg "up-arrow"}}}</span>
        <span class="share-file tip tip-n buy" data-side="buy" aria-label="Share">{{{svg "up-arrow"}}}</span>


        </form>
        
       
   

      </span>
      

      <span class="orders" > </span>

    </div>
  {{/is}}
  {{#is type "d"}}
    <div class="data-row {{classes}}" data-type="folder" data-id="{{id}}" data-name="{{sortname}}">
      <span class="sprite sprite-folder"></span>
      <a class="folder-link entry-link">{{name}}</a>
      <span class="mtime" data-timestamp="{{mtime}}"></span>
      <span class="size" data-size="{{size}}">{{psize}}</span>
      <span class="line-buttons">
        <span class="share-file tip tip-n" aria-label="Share">{{{svg "link"}}}</span>
        <a class="zip tip tip-n" href="!/zip{{id}}" download="{{name}}" aria-label="Download zip">{{{svg "download"}}}</a>
        <span class="entry-menu tip tip-nw" aria-label="Actions">{{{svg "menu"}}}</span>
      </span>
    </div>
  {{/is}}
  {{#is type "e"}}
    <div class="data-row {{classes}}" data-type="error" data-id="{{id}}" data-name="{{sortname}}">
      <span class="{{sprite}}"></span>
      <a class="error-link entry-link">{{name}}</a>
    </div>
  {{/is}}
{{else}}
  <div id="empty" class="empty">{{{svg "upload-cloud"}}}<div class="text">Add files</div></div>
{{/each}}

